---
title: "Forward by Choice"
author: "Jesus"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Awesome blog by Jesus">
    <meta name="keywords" content="web design blog, web dev blog, Jesus Lares, Forward, Forward by, Forward by choice, choice, by choice, github, github pages">

    <title>Forward by Choice</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Forward by Choice</h1>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{{ site.baseurl }}/impact">Impact</a></li>
                <li><a href="{{ site.baseurl }}/outlook">Outlook</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
            </ul>
        </div>
    </nav>

    <section id="showcase">
        <div class="container">
            <h1>To move forward in this age requires a choice
            </h1>
        </div>
    </section>

    <div class="container">
        <section id="main">
            <h1>Welcome</h1>
            <p>To an online repository of thought. This website will highlight meanderings among the vast plane on which we reside. We will look at the small and the large, the 'real' and 'imagined' (whatever that means), and all sorts of perfectly idealized forms interesting enough to merit a deeper analysis. The world is an entirely complex being - far beyond the definitions we constrain it to - yet we create realities from our imagination. We categorize our conscience into philosophical schools and oblige nature to fit within the neat borders defined by science. With abstraction our collective knowledge has grown immensely. This duality has allowed a shared body of knowledge to propel our species to an unnatural awareness and understanding of our surroundings. Then, incredibly, from these parts, each meaningless on their own, the individual creates a unique architecture with which they interpret the world. </p>
        </section>
        <aside id="sidebar">
                <h1>Goals:</h1>

                <p>This goal of this site is two-fold: to look towards reality and draw conclusions from its many facets (explored under outlook), and to act according to these conclusions by influencing the world around us (acted under impact).</p>

                <h1>Why we must act:</h1>

                <p>We live in an all encompassing reality - wether or not we are aware of all aspects of it. An idea is a perfect form, by itself irrelevant to this relity. By thinking and by acting we retrieve this perfect form and thrust it upon our reality.</p>
        </aside>
    </div>

    <footer id="main-footer">
        <div class="container">
            <ul>
                <li>This project is maintained by <a href="https://github.com/sidereal" target="_blank">Jesus Lares</a></li>
                <li>Email: <a href="mailto:jelares@mit.edu?Subject=Hello%20again" target="_top">jelares@mit.edu</a></li>
                <li>Twitter: <a href="https://twitter.com/siderealpers" target="_blank">@siderealpers</a></li>
            </ul>
        </div>
    </footer>

    {{ content }}
</body>
</html>