---
title: "Forward by Choice"
author: "Jesus"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forward by Choice</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Forward by Choice</h1>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{{ site.baseurl }}/impact">Impact</a></li>
                <li><a href="{{ site.baseurl }}/outlook">Outlook</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
            </ul>
        </div>
    </nav>

    <section id="showcase">
        <div class="container">
            <h1>To move forward in this age requires a choice
            </h1>
        </div>
    </section>

    <div class="container">
        <section id="main">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio, maiores quibusdam sint omnis quam iure illo est dignissimos, ab dolorum ipsam nesciunt, rem harum sapiente soluta. Inventore aperiam perspiciatis veniam sapiente adipisci ratione saepe? Facere vel voluptate sed nihil, possimus sint reiciendis consequatur explicabo odio modi. Vitae, reprehenderit sunt!</p>
        </section>
        <aside id="sidebar">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio, maiores quibusdam sint omnis quam iure illo est dignissimos, ab dolorum ipsam nesciunt, rem harum sapiente soluta.</p>
        </aside>
    </div>

    <footer id="main-footer">
        <div class="container">
            <ul>
                <li>This project is maintained by <a href="https://github.com/sidereal" target="_blank">Jesus Lares</a></li>
                <li>Email: <a href="mailto:jelares@mit.edu?Subject=Hello%20again" target="_top">jelares@mit.edu</a></li>
                <li>Twitter: <a href="https://twitter.com/siderealpers" target="_blank">@siderealpers</a></li>
            </ul>
        </div>
    </footer>

    {{ content }}
</body>
</html>